<div>
  <% @examination.questions.each do |question| %>
    <div>
      <b>Question: </b><%= question.content %>
    </div>
    <div class="option-area">
      <% question.options.each do |option| %>
        <div>
          <span class="<%= option.is_correct ? 'correct_option' : '' %>"><b>Option: </b><%= option.content %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
